*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    margin-top: 50px;
    font-size: 3rem;
    color: azure;
}
.container{
display: flex;
flex-direction: column;
height: 70vh;
width: 70vh;
justify-content: center;
align-items: center;
margin:0 auto;
}
.row{
    width: 60vh;
    height: 16vh;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 10px;
    border: none;
    text-shadow: 10 10 10 rgba(0,0,0,0.5);
    font-size: 3rem;
    color: maroon;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.reset{
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgb(33, 33, 43);
}
.new-btn{
    font-size: 1.2rem;
    padding: 5px 5px;
    border-radius: 10px ;
    border: none;
    background-color: #191913;
    color: #fff;
}
.msg{
    font-size: 2.5rem;
    color: #ffffc7;
}
.winner{
    margin-top:20px;
}
.wins{
    display: none;
}
.reset:hover{
    cursor: pointer;
}
.box:hover{
    cursor: pointer;
}
